body {
    font-family: Arial, sans-serif;
    background-color: #F9F7F7;
    margin: 0;
    padding: 40px 0; /* Adds space at top/bottom */
    display: flex;
    justify-content: center;   
}

.quiz-container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border-radius: 10px;
}

.question {
    margin: 40px 0; /* More space between questions */
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.answers {
    margin-top: 15px;
    text-align: left;
    display: inline-block; /* Keeps options neatly aligned */
}

.answers label {
    display: block;
    margin: 10px 0;
}

h1 {
    font-family: sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    background: #74aae7;
}
ul li{
    display: inline-block;
    background-color: #74aae7;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li{
    display: block;

}
ul li ul.dropdown{
    width: 11%;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover {
    background-color: #1474e1;
}

ul li:hover ul.dropdown{
    display: block;
}
.align-right{
    float: right;
    margin: 0 0 1rem 1rem;
    width: 150px;
}
.box {
    color: #0a1522;
    background-color: rgba(127, 255, 212, 0);
    padding: 20px;
    border: 1px solid;
    margin-left: 200px;
    margin-right: 200px;
    outline-color: #18293b;
}

